<div class="row container">
    <div class="col s12 m12">
        <h1 class="header red-text">404 Page Not Found!</h1>
        <br>
        <h2>Quieres regresar a la pagina anterior?</h2>
    </div>
</div>