<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LewiStore</title>
    {{!-- local styles --}}
     <link rel="stylesheet" type="text/css" href="css/style.css">

    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    {{!-- iconos --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    
    <script>
        

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems);
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
            var options = {
                duration: 500,
                padding: 20,
                numVisible: 5,
                dist: -50
            };
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, options);
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
            
        });
  </script>


</head>
<body>

    {{> navigation }}
    
        {{{ body }}}
    
    {{> footer}}
    {{#if message}}
    <script>
        M.toast({html: '{{message}}'})
    </script>
    {{/if}}
</body>
</html>