
<div class="slider">
    <ul>
        <li>

            <a href="/catalogo">
                <img src="images/bookslide.jpg" alt="">
            </a>
            
        </li>
        <li>

            <a href="/catalogo">
                <img src="images/movieslide.jpg" alt="">
            </a>

        </li>
        <li>

            <a href="/catalogo">
                <img src="images/musicslide.jpg" alt="">
            </a>


        </li>
        <li>

            <a href="/catalogo">
                <img src="images/storeslide.jpg" alt="">
            </a>
            
        </li>
    </ul>
</div>
<br>
<br>
<br>
